:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Jost", sans-serif;
}

.container {
    width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 120px;
}

.header__nav__list {
    display: flex;
    gap: 30px;
}

.header__nav__link1 {
    color: #292f36;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.header__nav__link:hover {
    cursor: pointer;
    color: #cda274;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.header__nav__link {
    color: #292f36;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    background: url(./../img/background-image.png) center / cover no-repeat;

    padding: 195px 0 250px 0;

    border-radius: 0 0 0 290px;
}

.hero-content h1 {
    font-family: "DM Serif Display", serif;
    font-size: 80px;

    width: 595px;

    line-height: 96px;

    color: #292f36;
}

.hero-content p {
    font-size: 22px;
    line-height: 30px;

    color: #4d5053;

    margin: 19px 0 35px 0;
}

.hero-content_button {
    width: 207px;
    height: 71px;

    font-size: 18px;

    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #292f36;

    color: #fff;

    cursor: pointer;

    gap: 15px;
}

.section2 {
    display: flex;
    justify-content: space-evenly;
}

.la {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.section2__text1 {
    font-family: "DM Serif Display", serif;
    color: #292f36;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.22px;
    margin-bottom: 17px;
}

.gav {
    color: #4d5053;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.section2__div_info {
    margin-bottom: 32px;
}

.section2__div1__text2 {
    width: 317px;
}

.section2__div2__text2 {
    width: 297px;
}

.section2__div3__text2 {
    width: 296px;
}

.stretch {
    display: flex;
    gap: 6px;
    justify-content: center;
}

.section2__text {
    color: #4d5053;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.36px;
}

.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3_bg {
    width: 592px;
    height: 635px;

    border-radius: 0 326px 0 123px;
}

.section3__title {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    width: 450px;

    line-height: 65px;
}

.section3__text {
    margin-top: 42px;

    font-size: 22px;
    width: 530px;

    color: #4d5053;

    line-height: 33px;
}

.section3__phone {
    margin-top: 40px;
    display: flex;
    align-items: center;
}

.section3__phone_img img {
    width: 32px;
    height: 32px;
}

.section3__phone_img {
    padding: 30px;
    background: #f4f0ec;
    border-radius: 50%;
}

.section3__phone_info {
    margin-left: 20px;
}

.section3__phone_info a {
    color: #4d5053;
    font-size: 24px;
}

.section3__phone_info p {
    color: #4d5053;
    font-size: 22px;
}

.section3 .section3__info button {
    padding: 22px 34px;

    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #292f36;

    border-radius: 18px;

    gap: 19px;

    margin-top: 60px;
}

.testimonials-section {
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f5f0;
    border-radius: 70px;
    text-align: center;
    height: 675px;
    width: 1200px;

}

.testimonials-section h2 {
    font-family: DM Serif Display;
    font-size: 45px;
    font-weight: 400;
    line-height: 58.5px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.skib {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.2199999988079071px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.testimonials-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.testimonial {
    width: 354px;
    height: 287px;
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    flex: 1;
    width: 354px;
    height: 287px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    text-align: left;
}

.heading3 {
    font-family: DM Serif Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.2199999988079071px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.testimonial img {
    width: 77px;
    height: 77px;
    top: 0.39px;
    gap: 0px;
    border-radius: 100px 100px 100px 100px;
    opacity: 0px;

}

.testimonial h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.testimonial p {
    margin: 8px 0;
    font-size: 14px;
    color: #666;
}

.testimonial .location {
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.2199999988079071px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.section-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.logos-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.recent-projects {
    padding: 30px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recent-projects h2 {
    font-family: "DM Serif Display", serif;
    font-size: 47px;
    text-align: center;

    margin: 0 0 30px 0;
}

.recent-projects p {
    color: #4d5053;

    font-size: 22px;
}

.recent-project_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 70px 0 0 0;

    gap: 60px 20px;
}

.recent-project_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-basis: calc((100% - 20px) / 2);
}

.project-card_img {
    border-radius: 0 80px 0 0;

    width: 590px;
    height: 661px;
}

.recent-project_card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-top: 24px;
}

.recent-project_card-info_text {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.recent-project_card-info_text h5 {
    font-family: "DM Serif Display", serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.recent-project_card-info button {
    width: 70px;
    height: 70px;

    background: #f4f0ec;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section7 {
    background-color: hsl(30, 27%, 94%);
    padding-top: 140px;
    padding-bottom: 140px;
}

.stretch {
    display: flex;
    justify-content: space-between;
}

.section7__div {
    position: relative;
}

.section7__number {
    font-family: "DM Serif Display", serif;
    color: #cda274;
    font-size: 85px;
    font-weight: 400;
    line-height: 127.5px;
    letter-spacing: 1.7000000476837158px;
    text-align: center;
}

.section7__text {
    color: #4d5053;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;
}

.div {
    width: 288px;
    height: 195px;
}

.div1 {
    width: 288px;
    height: 195px;
}

.line {
    width: 1px;
    background-color: #cda274;
}

#contact {
    padding: 0 0 30px 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: #292f36;

    width: 100%;

    padding: 100px 0 95px;

    gap: 30px;

    border-radius: 70px;
}

.form-content h2 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
}

.form-content p {
    font-size: 22px;
    font-family: "Jost", serif;
}

.form-content button {
    padding: 24px 34px;

    background: #cda274;

    border-radius: 18px;

    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer__section1 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    gap: 100px;
}

.footer__image1 {
    padding-bottom: 15px;
}

.footer__image1:hover {
    cursor: pointer;
}

.section1__div1__text {
    display: block;
    color: #4d5053;
    padding-bottom: 30px;
    width: 325px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.footer__image2:hover {
    cursor: pointer;
    box-shadow: -3px 2px 21px 9px rgba(205, 162, 116, 0.75);
}

.footer__image3:hover {
    cursor: pointer;
    box-shadow: -3px 2px 21px 9px rgba(205, 162, 116, 0.75);
}

.footer__image4:hover {
    cursor: pointer;
    box-shadow: -3px 2px 21px 9px rgba(205, 162, 116, 0.75);
}

.footer__image5:hover {
    cursor: pointer;
    box-shadow: -3px 2px 21px 9px rgba(205, 162, 116, 0.75);
}

.social {
    display: flex;
    gap: 40px;
}

.section1__div2 {
    width: 150px;
}

.section1__div3 {
    width: 150px;
    padding-bottom: 80px;
}

.section1__div4 {
    display: inline;
}

.section1__div__link1 {
    font-family: "DM Serif Display", serif;
    color: #292f36;
    font-size: 25px;
    font-weight: 400;
    line-height: 37.5px;
    letter-spacing: 0.22px;
    text-align: center;
}

.section__div__link2 {
    color: #4d5053;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.22px;
}

.hr {
    height: 1px;
    width: 1200px;
    background-color: #acafb4;
}

.footer__section2 {
    padding-top: 35px;
    display: flex;
    gap: 10px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
}

.footer__section2__text {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    color: #4d5053;
}

.footer__section2__link {
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    color: #cda274;
}

main {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .div1__h1 {
    color: #292f36;
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 62.4px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;
  }

  .div1__text {
    color: #4d5053;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.2199999988079071px;
    text-align: center;
    width: 580px;
  }

  .div {
    display: inline-block;
    border: 1px solid #e7e7e7;
    border-radius: 62px 62px 62px 62px;
    border: 1px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .miau {
    background-image: url("../img/image8.1.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .miau1 {
    background-image: url("../img/image8.2.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .miau2 {
    background-image: url("../img/image8.3.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .miau3 {
    background-image: url("../img/image8.4.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .maiu4 {
    background-image: url("../img/image8.5.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .miau5 {
    background-image: url("../img/image8.6.png");
    background-repeat: no-repeat;
    width: 345px;
    height: 296px;
  }

  .p {
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2199999988079071px;
    color: #ffffff;
    padding: 232px 206px 40px 34px;
  }

  .text1 {
    font-family: "DM Serif Display", serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #292f36;
    width: 334px;
  }
  .stretch {
    display: flex;
    gap: 148px;
  }

  .text2 {
    font-family: "Jost";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2199999988079071px;
    color: #4d5053;
  }

  .arrow {
    width: 50px;
    height: 50px;
    gap: 0px;
    border-radius: 100px;
    opacity: 0px;
    background-color: #f4f0ec;
  }
  .arrow:hover {cursor: pointer;
    box-shadow: -3px 0px 30px 11px rgba(205, 162, 116, 0.75);
  }
  .tot {
    padding: 18px 21px 18px 22px;
  }
